<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.access.testcases.Clip_tc_1"/>
      <class name="com.access.testcases.Clip_tc_2"/>
       <class name="com.access.testcases.Clip_tc_3"/>
       <class name="com.access.testcases.Clip_tc_4"/>
        <class name="com.access.testcases.Clip_tc_5"/>
        <class name="com.access.testcases.Clip_tc_6"/> 
        <class name="com.access.testcases.Reg_tc_1"/> 
         <class name="com.access.testcases.Reg_tc_2"/> 
         <class name="com.access.testcases.Reg_tc_3"/> 
         <class name="com.access.testcases.Reg_tc_5"/>
          <class name="com.access.testcases.Reg_tc_4"/> 
          <class name="com.access.testcases.Reg_tc_15"/> 
           <class name="com.access.testcases.Reg_tc_7"/> 
          <class name="com.access.testcases.Reg_tc_9"/> 
           <class name="com.access.testcases.Reg_tc_10"/> 
            <class name="com.access.testcases.Workl_tc_1"/> 
           <class name="com.access.testcases.Workl_tc_2"/> 
           <class name="com.access.testcases.Workl_tc_3"/> 
            <class name="com.access.testcases.Workl_tc_6"/> 
           <class name="com.access.testcases.Workl_tc_7"/> 
            <class name="com.access.testcases.Workl_tc_8"/> 
           <class name="com.access.testcases.Workl_tc_10"/> 
           <class name="com.access.testcases.Workl_tc_11"/> 
            <class name="com.access.testcases.Workl_tc_12"/> 
           <class name="com.access.testcases.Workl_tc_13"/> 
             <class name="com.access.testcases.Appt_tc_1"/> 
           <class name="com.access.testcases.Appt_tc_2"/> 
          <class name="com.access.testcases.Appt_tc_3"/> 
           <class name="com.access.testcases.Appt_tc_4"/> 
            <class name="com.access.testcases.Appt_tc_15"/> 
            <class name="com.access.testcases.Appt_tc_16"/> 
           <class name="com.access.testcases.Appt_tc_17"/> 
           <class name="com.access.testcases.Appt_tc_18"/> 
            <class name="com.access.testcases.Appt_tc_19"/> 
           <class name="com.access.testcases.Appt_tc_6"/> 
            <class name="com.access.testcases.Appt_tc_20"/> 
           <class name="com.access.testcases.Appt_tc_8"/> 
           <class name="com.access.testcases.Appt_tc_9"/> 
            <class name="com.access.testcases.Appt_tc_21"/> 
           <class name="com.access.testcases.Appt_tc_10"/> 
           <class name="com.access.testcases.Appt_tc_11"/> 
           <class name="com.access.testcases.Appt_tc_5"/> 
           <class name="com.access.testcases.Massm_tc_1"/> 
           <class name="com.access.testcases.Massm_tc_2"/> 
          <class name="com.access.testcases.Massm_tc_16"/> 
           <class name="com.access.testcases.Massm_tc_3"/> 
            <class name="com.access.testcases.Massm_tc_4"/> 
            <class name="com.access.testcases.Massm_tc_5"/> 
           <class name="com.access.testcases.Massm_tc_6"/> 
           <class name="com.access.testcases.Massm_tc_7"/> 
            <class name="com.access.testcases.Massm_tc_8"/> 
           <class name="com.access.testcases.Massm_tc_17"/> 
            <class name="com.access.testcases.Massm_tc_9"/> 
           <class name="com.access.testcases.Massm_tc_10"/> 
           <class name="com.access.testcases.Massm_tc_20"/> 
            <class name="com.access.testcases.Massm_tc_21"/> 
           <class name="com.access.testcases.Massm_tc_19"/> 
           <class name="com.access.testcases.Massm_tc_15"/> 
           <class name="com.access.testcases.Massm_tc_14"/> 
           <class name="com.access.testcases.Massm_tc_11"/> 
           <class name="com.access.testcases.Massm_tc_12"/> 
           <class name="com.access.testcases.Massm_tc_13"/> 
          <class name="com.access.testcases.R_Kiosk_tc_6"/> 
           <class name="com.access.testcases.R_Kiosk_tc_7"/> 
          <class name="com.access.testcases.R_Kiosk_tc_1"/> 
           <class name="com.access.testcases.R_Kiosk_tc_2"/> 
            <class name="com.access.testcases.R_Kiosk_tc_3"/> 
            <class name="com.access.testcases.R_Kiosk_tc_4"/> 
           <class name="com.access.testcases.R_Kiosk_tc_5"/> 
           <class name="com.access.testcases.R_Kiosk_tc_15"/> 
            <class name="com.access.testcases.R_Kiosk_tc_16"/> 
           <class name="com.access.testcases.R_Kiosk_tc_17"/> 
            <class name="com.access.testcases.R_Kiosk_tc_18"/> 
           <class name="com.access.testcases.R_Kiosk_tc_9"/> 
           <class name="com.access.testcases.R_Kiosk_tc_10"/> 
            <class name="com.access.testcases.R_Kiosk_tc_11"/> 
           <class name="com.access.testcases.R_Kiosk_tc_12"/> 
           <class name="com.access.testcases.R_Kiosk_tc_13"/> 
           <class name="com.access.testcases.R_Kiosk_tc_14"/> 
           <class name="com.access.testcases.Get_In_Line_tc_1"/> 
           <class name="com.access.testcases.Get_In_Line_tc_2"/> 
           <class name="com.access.testcases.Get_in_Line_tc_3"/> 
           <class name="com.access.testcases.Get_in_Line_tc_4"/> 
           <class name="com.access.testcases.Get_in_Line_tc_5"/> 
           <class name="com.access.testcases.Get_in_Line_tc_6"/> 
           <class name="com.access.testcases.Get_in_Line_tc_7"/> 
           <class name="com.access.testcases.Get_in_Line_tc_8"/> 
           <class name="com.access.testcases.Get_in_Line_tc_9"/> 
           <class name="com.access.testcases.Flag_tc_1"/> 
           <class name="com.access.testcases.Flag_tc_2"/> 
           <class name="com.access.testcases.Flag_tc_3"/> 
           <class name="com.access.testcases.Flag_tc_4"/> 
           <class name="com.access.testcases.Flag_tc_5"/> 
           <class name="com.access.testcases.Flag_tc_6"/> 
           <class name="com.access.testcases.Flag_tc_7"/> 
           <class name="com.access.testcases.Flag_tc_8"/> 
           <class name="com.access.testcases.R_provider_tc_9"/> 
           <class name="com.access.testcases.R_provider_tc_6"/> 
           <class name="com.access.testcases.R_provider_tc_7"/> 
           <class name="com.access.testcases.R_provider_tc_8"/> 
           <class name="com.access.testcases.R_provider_tc_1"/> 
           <class name="com.access.testcases.R_provider_tc_1"/> 
           <class name="com.access.testcases.Forms_tc_02"/> 
           <class name="com.access.testcases.Forms_tc_03"/> 
           <class name="com.access.testcases.Forms_tc_01"/> 
           <class name="com.access.testcases.Forms_tc_08"/> 
           <class name="com.access.testcases.Document_tc_22"/> 
           <class name="com.access.testcases.Document_tc_23"/> 
           <class name="com.access.testcases.Forms_tc_04"/> 
           <class name="com.access.testcases.Forms_tc_05"/> 
           <class name="com.access.testcases.Forms_tc_13"/> 
           <class name="com.access.testcases.Forms_tc_06"/> 
           <class name="com.access.testcases.Forms_tc_15"/> 
           <class name="com.access.testcases.Forms_tc_19"/> 
           <class name="com.access.testcases.Forms_tc_17"/> 
           <class name="com.access.testcases.Forms_tc_07"/> 
           <class name="com.access.testcases.Forms_tc_16"/> 
           <class name="com.access.testcases.Forms_tc_18"/> 
           <class name="com.access.testcases.Forms_tc_14"/> 
           <class name="com.access.testcases.Forms_tc_10"/> 
           <class name="com.access.testcases.Forms_tc_20"/> 
           <class name="com.access.testcases.Forms_tc_11"/> 
           <class name="com.access.testcases.Forms_tc_12"/> 





    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
